<a href="https://colab.research.google.com/github/kevin-rn/Grounding-LM/blob/main/comparison_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
%pip install -q datasets

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 474.6/474.6 kB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 10.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 16.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 12.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 42.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 15.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 11.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 26.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 15.8 MB/s eta 0:00:00

In [16]:
import pandas as pd
from datasets import load_from_disk

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
%cp -R ./drive/MyDrive/data ./

In [12]:
df_t5 = pd.read_csv("data/generated_summaries/T5_xsum.csv")
df_t5

             id                                          generated
0      30475232  A London-bound train traveller has been banned...
1      35973760  Atletico Madrid defender Luis Suarez says his ...
2      38909077  Mae llywodraeth Cymru byddai'r cynllun yn cost...
3      35777239  A medical practice manager has admitted steali...
4      38796977  Ghana coach Ehud Grant says he would like to s...
...         ...                                                ...
11329  38928528                                 No boss is needed.
11330  33048504  A three-year-old girl has been treated for a b...
11331  39770896  A woman and her two-year-old daughter have bee...
11332  38711418  Theresa May has refused to say if she knew abo...
11333  35002961  Japan's shares fell after the European Central...

[11334 rows x 2 columns]

In [27]:
df_bart = pd.read_csv("data/generated_summaries/bart_xsum.csv")
df_merge = pd.merge(df_t5, df_bart, on='id')
df_merge.columns = ['id', 'T5_xsum', 'bart_xsum']
df_merge

,id,T5_xsum,bart_xsum
0,30475232,A London-bound train traveller has been banned...,kowski train at this Stonegatet an in. get Aft...
1,35973760,Atletico Madrid defender Luis Suarez says his ...,"would Atletico,. Luis. ""I, it was totally unfa..."
2,38909077,Mae llywodraeth Cymru byddai'r cynllun yn cost...,Earth edition uscat city fill.nig diwedi mynnn...
3,35777239,A medical practice manager has admitted steali...,"said: ""This was deliberate. It was clearly pla..."
4,38796977,Ghana coach Ehud Grant says he would like to s...,"would ""Every player had has criticism at this ..."
...,...,...,...
11329,38928528,No boss is needed.,workers are encouraged to make decisions thems...
11330,33048504,A three-year-old girl has been treated for a b...,would be taking place on Tuesday. It is believ...
11331,39770896,A woman and her two-year-old daughter have bee...,would category itd Walesl du was reported miss...
11332,38711418,Theresa May has refused to say if she knew abo...,"Griffith,. According to the Sunday Times,t an ..."
11333,35002961,Japan's shares fell after the European Central...,said. Japan's benchmark Nikkei fost has its an...

In [28]:
data = load_from_disk('data/xsum')
df_xsum_test = pd.DataFrame(data=data['test'])
df_xsum_test.columns = ['text', 'summary', 'id']
df_xsum_test

,text,summary,id
0,"Prison Link Cymru had 1,099 referrals in 2015-...","There is a ""chronic"" need for more housing for...",38264402
1,Officers searched properties in the Waterfront...,"A man has appeared in court after firearms, am...",34227252
2,"Jordan Hill, Brittany Covington and Tesfaye Co...",Four people accused of kidnapping and torturin...,38537698
3,The 48-year-old former Arsenal goalkeeper play...,West Brom have appointed Nicky Hammond as tech...,36175342
4,Restoring the function of the organ - which he...,The pancreas can be triggered to regenerate it...,39070183
...,...,...,...
11329,Amnesty International supporters are zipped in...,Two hundred body bags have been placed on Brig...,32411431
11330,The project was launched in Grenada by the pri...,Budding hospitality workers from the Caribbean...,38139638
11331,The world number two won 6-2 6-0 in 66 minutes...,Britain's Andy Murray is through to the Monte ...,36054448
11332,Mr Pistorius says he mistakenly shot his girlf...,A forensics expert has swung a cricket bat at ...,26541765
11333,Media playback is unsupported on your device\n...,Martin went to the German Occupation Museum to...,32607891

In [29]:
df_xsum_test['id']=df_xsum_test['id'].astype(int)
df_merge = pd.merge(df_xsum_test, df_merge, on='id')
df_merge

,text,summary,id,T5_xsum,bart_xsum
0,"Prison Link Cymru had 1,099 referrals in 2015-...","There is a ""chronic"" need for more housing for...",38264402,Prison leavers in Wales are struggling to find...,because rough for up toa year before finding s...
1,Officers searched properties in the Waterfront...,"A man has appeared in court after firearms, am...",34227252,A man has appeared in court charged with armed...,and propertieso the Waterfront Park and ColonsayX
2,"Jordan Hill, Brittany Covington and Tesfaye Co...",Four people accused of kidnapping and torturin...,38537698,Four teenagers accused of kidnapping a black t...,"R attorneyten suspect the Brittenaggravate, on..."
3,The 48-year-old former Arsenal goalkeeper play...,West Brom have appointed Nicky Hammond as tech...,36175342,West Brom have sacked former England goalkeepi...,Rfection director in 2000 and has been directo...
4,Restoring the function of the organ - which he...,The pancreas can be triggered to regenerate it...,39070183,Scientists say they have shown a diet that mim...,case go reporteres took part in. Then they hav...
...,...,...,...,...,...
11329,Amnesty International supporters are zipped in...,Two hundred body bags have been placed on Brig...,32411431,Hundreds of people have lined up at Brighton P...,"– cryptocurrency rhetoric intot In Bigbur, man..."
11330,The project was launched in Grenada by the pri...,Budding hospitality workers from the Caribbean...,38139638,Prince Harry has launched a scholarship progra...,RSte on the six-week Royal Household Hospitali...
11331,The world number two won 6-2 6-0 in 66 minutes...,Britain's Andy Murray is through to the Monte ...,36054448,Jamie Murray beat Milos Raonic in straight set...,"R colleagueé. ""I was getting in from: also eno..."
11332,Mr Pistorius says he mistakenly shot his girlf...,A forensics expert has swung a cricket bat at ...,26541765,Oscar Pistorius's toilet door has been examine...,"workers. use, esto doa. during was might from ..."
11333,Media playback is unsupported on your device\n...,Martin went to the German Occupation Museum to...,32607891,Families living in the UK during World War Two...,"allergy,. never updated tosoundnächsten, it: a..."